body {
    font-family: roboto;
 
}

h1{
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
}

img{
    width: 275px;
    height: 200px;
    border-radius: 35px;
}

.header {
    padding: 24px;
    background:#1F2937;
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

  .banner{
    background-color: #1F2937;
    color: white;
    padding: 20px; 
  }
.imagetext {
    display: flex;
    width: 400px;
    height: 300px;
    justify-items: center;
    align-items: center;
    
}

  .signup {
    height: 70px;
    width: 90px;
    color: #f1f1f1;
    background-color: #3882F6;
    border-color: white;
    border-radius: 35px;
  }


.banner{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
   
}

.bannergroup {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
    width: 400px;
    height: 300px;
  }

h2{
     color: #F9FAF8;
     font-size: 48px;
     justify-content: center;
     align-items: center;
      }

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.midbanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 300px;
    width: auto;

    }
.block {
        text-align: center;
        
    }

.section {
    display:flex;
    flex-wrap: wrap;
    height:200px;
    width:auto;
    background-color: #e5e7eb;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.quote{
    font-style: italic;
    font-size: 36px;
    color:#1F2937;
   }

.bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100px;
    width:auto;
    background-color:#3882F6;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.bsignup {
    display: flex;
    justify-items: center;
    align-items: center; 
    height: 50px;
    width: 70px;
    background-color: #3882f6;
    color: white;
    padding: 10px;
    margin: 10px;
    border-color: white;
    border-radius: 35px;
}

.callaction{
    text-align: center;
    color: white;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;;
    text-align: center;
    color: white;
  }
